body {
  margin:0 !important;
}

.tote-fc {
  color:#5353AA !important;
}

.tote-bg {
  background-color:#5353AA;
}

.tote-font {
  font-family:"Chivo";
}

#page-wrap {
  height:100vh;
  width:100%;
  position:relative;
}

.tote-nav {
  height:4em;
  width:100%;
  background-color:#03021B;
  position:fixed;
  z-index:4;
  box-shadow:0 0 3px #5353AA;
  display:flex;
}

.tote-font-smooth {
  font-smoothing:antialiased;
}

.tote-inner-nav, .tote-inner-side-nav {
  list-style:none;
  height:inherit;
  width:auto;
  box-sizing:border-box;
  margin:0 !important;
  display:flex;
  padding:0;
}

.tote-inner-nav {
  flex-direction:row-reverse;
  padding:10px;
  flex-grow:1;
  justify-content:flex-start;
}

.tote-inner-nav-wrap, .tote-nav-wrap-button, .tote-inner-side-nav-wrap {
  height:inherit;
  width:auto;
}

.tote-nav-wrap-button {
  padding:5px;
  background-color:#fff;
}

.tote-side-nav-toggle {
  height:inherit;
  display:flex;
  align-items:center;
  box-sizing:border-box;
  width:33%;
  padding-left:10px;
}

.tote-logo {
  flex-grow:1;
  width:auto;
  min-width:40%;
  height:100%;
  font-family:"Montserrat";
  font-size:1.5em;
  letter-spacing:1px;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
}

.tote-icon-text {
  display:flex;
  flex-direction:row;
}

.tote-vh-center {
  display:flex;
  align-items:center;
  justify-content:center;
}

#user {
  align-self:flex-end;
}

.tote-icon {
  height:2em;
  width:2em;
}

.tote-icon i {
  font-size:2em;
}

.tote-text {
  height:2em;
  min-width:1em;
  width:auto;
  font-size:14px;
  color:#fff;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.tote-vbar {
  position:relative;
}

.tote-vbar:after {
  content:"";
  position:absolute;
  height:1.5em;
  width:1px;
  left:100%;
  top:0.25em;
  background-color:#cecece;
}

.tote-space-right {
  margin-right:1em;
}

.tote-button {
  height:2em;
  box-sizing:border-box;
  padding:5px 10px;
  min-width:8em;
  width:auto;
  color:#fff;
  text-align:center;
  border-radius:100px;
  font-size:14px;
}

.tote-side-nav {
  min-width:10em;
  width:15%;
  height:inherit;
  background-color:#110E3B;
  z-index:1;
  overflow:hidden;
  position:fixed;
}

.tote-inner-side-nav {
  min-height:80%;
  height:auto;
  width:100%;
  position:relative;
  margin:auto;
}

.tote-columnize {
  display:flex;
  flex-direction:column !important;
}

.tote-side-nav-opt {

}

.tote-side-nav-opt .tote-icon {
  color:#fff;
}

.tote-side-nav-wrap {
  height:4em;
  width:100%;
  background-color:#110E3B;
  border-bottom:1px solid #2B2489;
  display:flex;
  align-items:center;
  box-sizing:border-box;
  padding:10px;
}

.tote-flex-container {
  width:100%;
  height:100%;
  position:relative;
  box-sizing:border-box;
  padding-top:4em;
}

.tote-flex-container > div {
  display:inline-block;
  vertical-align:top;
}

.tote-main-section {
  height:auto;
  min-height:100%;
  width:100%;
  position:relative;
  transition:all 0.3s ease-in-out;
  background-color:#5353AA;
  box-sizing:border-box;
  padding:15px 20px;
}

.tote-with-side-nav {
  left:15%;
  width:85%;
}

.tote-main-header {
  position:fixed;
  height:auto;
  min-height:3em;
}

#main-header {
  font-size:1.5em;
  width:100%;
  position:relative;
  font-weight:700;
  color:#110E3B;
}

.tote-bottom-bar:after {
  position:absolute;
  content:"";
  height:2px;
  width:20px;
  left:calc(50% - 5px);
  top:110%;
  background-color:#110E3B;
}

#first-articles-container {
  margin-top:4em;
}

.tote-articles-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  width:100%;
  min-height:4em;
  height:auto;
  box-sizing:border-box;
}

.tote-article-wrap {
  height:auto;
  min-height:22em;
  width:17.2em;
  flex-direction:column;
  margin-bottom:1.5em;
}

.tote-notifications {
  height:4em;
  width:100%;
}

.tote-article-top {
  height:2em;
  width:90%;
  background-color:#fff;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

.tote-article-img-wrap {
  height:14em;
  width:90%;
  background-image:url("http://images.asos-media.com/inv/media/9/2/3/3/4333329/black/image1xl.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.tote-article-img-wrap img {
  width:100%;
  height:100%;
}

.tote-article-info {
  height:auto;
  min-height:6em;
  background-color:#fff;
  width:90%;
}

.tote-article-actions {
  height:auto;
  min-height:2.5em;
  width:100%;
}

.tote-views-action {
  color:#110E3B;
  padding:5px;
  box-sizing:border-box;
  min-width:4em;
  overflow:hidden;
}

.tote-views-action > div {
  color:inherit !important;
}

.tote-views-action div i {
  font-size:24px;
}

.tote-views-action .tote-text {
  font-family:"Montserrat";
  text-transform:uppercase;
  font-size:10px;
  font-smoothing:antialiased;
}

.tote-article-tags {
  width:100%;
  height:auto;
  min-height:2em;
}

.tote-pill-header {
  height:2em;
  width:100%;
  position:relative;
}

.tote-pill-header > div {
  position:absolute;
}

.tote-pill-line {
  background-color:#110E3B;
  height:1px;
  top:0.8em;
  width:100%;
}

.tote-pill {
  color:#fff;
  background-color:#110E3B;
  left:calc(50% - 4em);
  font-size:12px;
}

.tote-tags-wrap {
  height:auto;
  min-height:2em;
  width:100%;
  flex-wrap:nowrap;
  background-color:#03021B;
  justify-content:flex-start;
}

.tote-tag {
  box-sizing:border-box;
  margin: 5px;
  min-width:4em !important;
  font-size:12px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  border-radius:3px;
  flex-grow:1;
}

.tote-side-nav .tote-nav-button .tote-icon i {
  font-size:18px;
}

@media only screen and (max-width:768px) {
  .tote-md-hidden {
    display:none !important;
  }

  .tote-md-full {
    width:100% !important;
    left:0;
  }

  .tote-md-vh-center {
    display:flex;
    align-items:center;
    justify-content:center;
  }
}
