<div id="particles-js">
    <div id="login-form-container">
        <div id="welcome-text">
            <div id="welcome">Welcome to Sparkfish</div>
            <div id="tagline">A community of students working together to bring new ventures to life.</div>
        </div>
        <div id="form-wrap">
            <form name="login">
                <div class="form-group">
                    <input type="text" placeholder="Username or Email" spellcheck="false">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" spellcheck="false">
                </div>
                <div id="login-button">Login</div>
            </form>
        </div>
    </div>
</div>

<script>
  initParticles();
</script>