body
{
  height:100%;
  width:100%;
  margin:0 !important;
}

#site-bg
{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  align-content:center;
  z-index:1;
}

#site-contents
{
  width:40em;
  height:20em;
  margin:auto;
  box-sizing:border-box;
  padding:10px;
}

#myname
{
  font-size:2em;
  letter-spacing:2px;
/*  line-height:3em;*/
  font-family:"Montserrat";
  text-transform:uppercase;
}

.site-content
{
  height:3em;
  width:100%;
  text-align:center;
  color:#fff;
}

#someshit
{
  font-family:"Alegreya","Montserrat";
  font-size:1.2em;
  text-transform:capitalize;
}

#cmbm
{
  display:flex;
  align-items:center;
  width:12em;
  margin:auto;
}

.site-social
{
  height:100%;
  width:3em;
  margin:5px;
  box-sizing:border-box;
  padding:3px;
  text-align:center;
}

.site-social a
{
  color:#fff;
  font-size:2em;
  text-decoration:none;
}

#portfolio
{
  color:#fff;
  font-family:"Montserrat";
  font-size:0.8em;
  text-transform:uppercase;
  letter-spacing:2px;
}

#site-canvas
{
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  background-color:#2ecc71;
}
