body
{
  margin:0 !important;
  overflow:hidden;
}

#splash
{
  position:absolute;
  height:100%;
  width:100%;
  background-image:url("/assets/img/bd3.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom left;
}

#basicinfo
{
  height:auto;
  width:40%;
  margin:auto;
  position:relative;
  top:250px;
}

#pp-wrap
{
  height:100px;
  width:100px;
  margin:auto;
}

#pp
{
  height:100%;
  width:100%;
  border-radius:100%;
}

#bio #mni, #bio #name
{
  height:45px;
  text-align:center;
  font-family:Montserrat;
  text-transform:uppercase;
  line-height:45px;
  font-size:30px;
  letter-spacing:2px;
  color:#EF4836;
}

#bio #name
{
  letter-spacing:0;
  font-weight:bold;
  font-size:35px;
}

#arrow
{
  height:100px;
  width:30%;
  margin:auto;
  text-align:center;
  line-height:100px;
}

#splash-chev
{
  cursor:pointer;
  position:relative;
  top:0;
  animation:fadeDrop 0.75s infinite;
  -webkit-animation:fadeDrop 0.75s infinite;
  -moz-animation:fadeDrop 0.75s infinite;
}

#content
{
  height:800px;
  width:100%;
}

@keyframes fadeDrop
{
  0%
  {
    top:0;
    opacity:1;
  }
  
  100%
  {
    top:px;
    opacity:0.5;
  }
}

@-webkit-keyframes fadeDrop
{
  0%
  {
    top:0;
    opacity:1;
  }
  
  100%
  {
    top:10px;
    opacity:0.5;
  }
}

@-moz-keyframes fadeDrop
{
  0%
  {
    top:0;
    opacity:1;
  }
  
  100%
  {
    top:10px;
    opacity:0.5;
  }
}