@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400:900");

body {
    margin: auto;
    max-width: 1160px;
}

.nami-bar-wrap {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    height: 27px;
    line-height: 27px;
    width: 9em;
    max-width: 9em;
    min-width: 7em;
    background-color: #cecece;
    border-radius: 3px;
    overflow: hidden;
}

.nami-location {
   float: left;
   font-size: 12px;
   overflow: hidden;
   width: 90%;
   text-overflow: ellipsis;
   transform: translateY(0);
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
   -ms-transform: translateY(0);
   position: relative;
   white-space: nowrap;
   transition: all 0.2s cubic-bezier(.79,.27,.43,.6);
   -webkit-transition: all 0.3s cubic-bezier(.79,.27,.43,.6);
   -moz-transition: all 0.3s cubic-bezier(.79,.27,.43,.6);
   -ms-transition: all 0.3s cubic-bezier(.79,.27,.43,.6);
}

.updating {
    transform: translateY(-100px);
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
}

.nami-location-arr {
    float: right;    
    cursor: pointer;
    width: 10%;
    text-align: center;
}

.nami-menu-trigger {
    cursor: pointer;    
    color: inherit;
}

.nami-bar {
   height: 4em;
   width: 100%;
   box-sizing: border-box;
   padding: 10px;
   border-bottom: 1px solid #cecece;
   position: fixed;
   top: 0;
   background-color: #fff;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   align-items: center;
   -webkit-align-items: center;
   -moz-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   z-index: 500;
}

.nami-bar > div {
    -webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.nami-bar-logo {
    height: 32px;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
    align-items: center;
}

.nami-menu {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 499;
   display: none;
   background-color: #5E82F7;
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
}

.nami-menu-items {
   position: absolute;
   max-height: 18em;
   overflow: auto;
   top: calc((100% - 8em) / 2);
   width: 90%;
   left: 5%;
}

.nami-menu-item {
    min-height: 3em;
    height: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    color: #fff;
}

.nami-menu-item a {
    color: inherit;
    text-decoration: none;
}

.nami-menu-item i {
   float: right;
}

.nami-font {
    font-family: "Source Sans Pro";
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nami-sub-item:nth-child(1) {
    margin-top: 10px;    
}

.nami-sub-item {
   border: none !important;
   font-size: 10px;
}

.nami-submenu {
    display: none;
}

.menu-open {
    display: block;
}
